body {
    background-color: #f8f9fa;
  }
  .sidebar_dashboard {
    background-color: #080d55;
    color: #fff;
    min-height: 100vh;
  }
  .sidebar_dashboard a {
    color: #fff;
    text-decoration: none;
  }
  .sidebar_dashboard a:hover {
    background-color: #495057;
    color:#F9B805;
 
  }
  .sidebar_dashboard .dropdown-menu {
    background-color: #495057;
  }
.superior{margin-top: 5rem;}
.message {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  text-align: center;
}
.hidden {
  display: none;
}