/* ESTILOS GLOBALES 
-------------------------------------------------- */


body {
    padding-top: 0;
    padding-bottom: 0;
  }

/*** ---------------------Single Page Hero Header Start nav-inferior***/
.bg-breadcrumb {
    background: linear-gradient(rgba(1, 44, 87, 0.5), rgba(2, 60, 252, 0.5)), url(/static/img/img9.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 150px 0 50px 0;
}

.bg-breadcrumb .breadcrumb-item a {
    color: var(--bs-secondary) !important;
}
/*** Single Page Hero Header End ***/

/*** -------------------------Navbar sticky-top MEnu de Navegacion Superior ----------------------------***/
.navbar-light .navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding: 10px 15px;
    color: var(--bs-white) !important;
    font-size: 17px;
    font-weight: 400;
    outline: none;
    transition: .5s;
   
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 15px;
    color: var(--bs-success) !important; /* color de las letras menu desplegable */
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--bs-white) !important;
}

.navbar-light .navbar-brand h1 {
    color: var(--bs-white);
}

.sticky-top.navbar-light .navbar-brand h1 {
    color: var(--bs-primary);
}


.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}


@media (max-width: 768px) {
    .topbar {
        display: none;    
    }
}

@media (max-width: 768px) {
    .topbar {
        display: none;    
    }
}

/* .navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
} */

 

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        border-radius: 10px;
        transition: .5s;
        opacity: 0;
    }
}

.dropdown .dropdown-menu a:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light);
    transition: .5s;
    opacity: 1;
}
@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: var(--bs-white);
    }

    .navbar-light .navbar-brand h1 {
        color: var(--bs-primary);
    }

    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 10px 20px;
        border: 1px solid var(--bs-primary);
        color: var(--bs-primary);
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #241a1a;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        color: var(--bs-success) !important;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active  {
        color: var(--bs-primary) !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}
/* determina el estilo sobresaliente del menu  */

@media (min-width: 992px) {/*    ESTE ES EL COLOR DEL NAV FIJO SIN SCROLL */
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(12, 12, 12, 0.1);
        z-index: 999;
     
    }
    
    .sticky-top.navbar-light {
        position: fixed;
         background: var(--bs-light);/*color del menuscroll */
         
       
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        bottom: -1px;
        left: 0;
        background: var(--bs-success);
        transition: .5s;
        z-index: -1;
    }
/* establece la figura de navegacion */
    /* .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        height: calc(70% + 1px);
        left: 1px;
    } */

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}

/* -------------------------------NAV INFERIOR ------------------------------------------------- */
#nav-med{
background-color: #666;


}
#bottomMenu .nav-link {
    font-size: 16px;
    text-align: center;
    transition: color 0.3s ease;
    color: #CCCCCC;
}

#bottomMenu .nav-link:hover {
    color: #f0a500; /* Color dorado al pasar el mouse */
}


/*** Topbar Start ***/
.fixed-top .container {
    transition: 0.5s;
}

.topbar {
    padding: 2px 10px 2px 20px;
    background: var(--bs-primary) !important;
}

.topbar a,
.topbar a i {
    transition: 0.5s;
}

.topbar a:hover,
.topbar a i:hover {
    color: var(--bs-secondary) !important;
}
/* CONFIGURACION CARRUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 0rem;

  
  }
  /* letras caption imagenes myCarousel */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  .carousel-item {
    height: 30rem;
    background-color: #ffffff;
    
  }
  /* oscurecer las imagenes  */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
    z-index: 1; /* Asegura que quede encima de la imagen */
   
  }
    /* Estilo general del texto */
    .carousel-caption h1 {
      /*font-size: 3rem; /* Tamaño llamativo */
      /* font-weight: bold; /* Negrita */
      /* text-transform: uppercase; /* Mayúsculas */
       color: #f9d423; /* Color vibrante */
      text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);/* Sombra difusa */ 
      /* font-family: 'Poppins', sans-serif; Cambia según la fuente deseada */
       letter-spacing: 2px;/* Espaciado entre letras */
       animation: fadeInDown 1s ease-in-out;/* Animación suave */
       color: #fff;
    } 
     .carousel-caption p {
      /* color: #ffffff; Color blanco */
       text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /*Sombra suave */
       font-family: 'Roboto', sans-serif; /*Fuente moderna */
      animation: fadeInUp 1.2s ease-in-out;/* Animación para párrafos */
     
     } 
    .carousel-caption .btn-warning {
      background-color: #ff8c00; /* Naranja vibrante */
      color: #fff; /* Texto blanco */
      font-size: 1rem; /* Tamaño del texto */
      font-weight: bold; /* Negrita */
      border-radius: 5px; /* Botón redondeado */
      padding: 5px 20px; /* Espaciado interno */
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); /* Sombra para el texto */
      transition: transform 0.3s ease, background-color 0.3s ease; /* Efecto hover */
    }
    .carousel-caption .btn-warning:hover {
      background-color: #f9d423; /* Cambio a amarillo vibrante al pasar el mouse */
      transform: scale(1.1); /* Efecto de ampliación */
    }
    /* Animaciones carru */
    @keyframes fadeInDown {
      from {
        opacity: 0;
        transform: translateY(-20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    /*----------------------- Featurettes---------------------------------------------------------------------------------- */

    .featurette-divider {
        margin: 5rem 0; /* Space out the Bootstrap <hr> more */
      }
      /* Thin out the marketing headings */
      /* rtl:begin:remove */
      .featurette-heading {
        letter-spacing: -.05rem;
      }
      
      /* rtl:end:remove */
    /*-------------------------------------------- Estilo de las tarjetas------------------------------------------------- */
.custom-tour {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 0px;
    margin-right: 1em;
  }
  .custom-tour .card-header {
  margin:0 auto;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;   /* Centra verticalmente */
  height: 4rem;
  background-color: #fff;
  border: none;
  padding: 1.5rem 0 ;
  
  }
  
  .custom-tour .card-header img {
  box-shadow: none; /* Elimina cualquier sombra aplicada */
  object-fit: contain; /* Escala la imagen para que quepa dentro */
  height: 2rem;
  
  }
  .custom-tour .card-body {
    margin: 0;
    padding: 0 2.5rem 2rem 3rem;
    background-color: #ffffff;
    font-family: "Roboto Condensed", sans-serif;
    font-weight:11px ;
  }
  
  .custom-tour .card-title{
    height: 3rem;
    text-align: center;
    padding-top: 0.5rem;
  }
  .custom-tour .card-text{
    height: 6rem;
    text-align:justify;
  }
  /* tarjetas del index */
  .custom-index {
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    overflow: hidden; /* Para que no se salga el contenido */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 0 5.4rem 0;
    transition: transform 0.3s, box-shadow 0.3s; /* Transición suave */
    
  }
  
  .custom-index img {
    width: 100%; /* Ancho completo del contenedor */
    height: 200px; /* Altura fija para las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
  }
  .custom-index .card-body {
    background-color: #ffffff;
    padding: 1.5rem;
  }
  
  .custom-index:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra al pasar el mouse */
  }
  .custom-index .card-title {
    font-size: 1.3rem; /* Tamaño de la fuente del título */
    color: #333; /* Color del texto */
    font-weight: 500;
    padding-bottom: 0 0 3rem 2rem;
    height: 2rem;
    text-align:left;
    /* background-color: #f9d423; */
    
  }
  .custom-index .card-text {
    font-size: 0.8rem; /* Tamaño de la fuente del texto */
    color: #666; /* Color del texto */
    text-align: justify;
    padding: 1rem;
    height: 8rem;
  }
  .custom-index .card-subtitle{
    font-weight: 600;
    text-align:left;
    font-size: 0.8rem; /* Tamaño de la fuente del texto */
    height: 1rem;
    padding-left: 16px;
  
    /*background-color: #6528e0;*/
  }
  
  .custom-index .btn {
    margin-left: 1rem;
    padding: 0.25rem 2rem ;
  
  }
   /* PAginas header navbarNav */
  
   .page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/img9.jpg), no-repeat center center;
    background-size: cover;
  }
  
  .page-header-teams{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/img10.jpg), no-repeat center center;
    background-size: cover;
    height: 20rem;
  }
  /* Estilo para los botones de precio */
  .price-buttons .btn-price {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  /* -------------------------------------------------------------Estilo para la imagen dentro del botón */
  .price-buttons .btn-price img.price-icon {
    width: 16px;
    height: auto;
    margin-right: 8px;
  }
  
  /* --------------------------------------------------------Estilo cuando el usuario pasa el mouse sobre el botón */
  .price-buttons .btn-price:hover {
    background-color: #0056b3;
  }
  /* -------------------------------------------------------------------------Botón "Mostrar Todos" centrado */
  /* Revisar este elemento ojo .text-center {   
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    margin-top: 20px; /* Espaciado superior */
    margin-bottom: 20px; /* Espaciado inferior */
 /* } */
 .btn-center {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-center:hover {
    background-color: #e0e0e0; /* Cambia el color al pasar el mouse */
  }
  
  .restaurant-img {
    width: 20%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  /* .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  } */
  
  .info {
    flex: 1;
  }
  
  .restaurant-img {
    width: 150px;
    height: auto;
    border-radius: 8px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .btn-center {
    margin: 20px auto; /* Espaciado adicional */
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .btn-center:hover {
    background-color: #0056b3;
  }
  .whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .whatsapp-icon {
    width: 50px;
    height: 50px;
  }

  /* custom Teams */
.custom-teams{
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 0px;
    margin-right: 1.2em;
    height: 18rem;
   
  }
  .custom-teams:hover{
  
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra al pasar el mouse */
  transform: scale(1.15); /* Aumenta el tamaño al 105% */
  
  }
  .custom-teams .card-header {
  justify-content: center; /* Centra horizontalmente */
  align-items: center;   /* Centra verticalmente */
  background-color: #fff;
  border: none;
  
  }
  
  .custom-teams .card-header img {
  box-shadow: none; /* Elimina cualquier sombra aplicada */
  object-fit: contain; /* Escala la imagen para que quepa dentro */
  width: 7.5rem; /* Ajusta el tamaño de la imagen */
  height: 7.5rem;
  margin-top: 0.25rem;
  border: #00A7D0 1px solid;
  
  }
  .custom-teams .card-body {
    margin-bottom: 3rem;
    padding: 0 2rem 0 3rem;
    background-color: #ffffff;
    font-family: "Roboto Condensed", sans-serif;
    font-weight:11px ;
    height: 3rem;
  }
  
  .custom-teams .card-title{
    text-align: center;
    padding-top: 0.5rem;
    font-size: 1.2rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight:450;
    height: 2rem;
    text-align: center;
    /* background-color:#00A7D0; */
  
  }
  .custom-teams .card-text{
    height: 0.1rem;
    text-align:center;
    font-size: 0.85rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight:180;
  
  }
  .teams-container{
    background-color: #E5E5E5;
  
    padding-bottom: 3rem;
  }
  /* .teams-container h1{
    text-align: center;
    font-size: 4rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight:300;
    padding-top: 3rem;
    color: #0B5ED7;
  } */
  
  /* paquete toursauxiliar */
.package-item {
    transition: .5s;
  
  }
  
  .package-item:hover {
    box-shadow: 0 0 30px #CCCCCC;
  }
  .package-item img{
    height: 3rem;
    padding-left: 10px 0  020px;
  }
  
/*** Footer Start ***/
.footer {
    background: var(--bs-dark);
}
.footer .footer-item a {
    line-height: 30px;
    color: var(--bs-white);
    transition: 0.5s;
}

.footer .footer-item a:hover {
    letter-spacing: 2px;
    color: var(--bs-primary);
}

/*** Footer End ***/

/*** copyright Start ***/
.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    background: var(--bs-dark) !important; 
    padding-left: 15rem;
    text-align: center;
}
/*** copyright end ***/
