{% extends 'base.html' %}

{% block content %}

  <div class="container my-5">
    <h1>Eventos en Cartagena</h1>
    <p>Aquí puedes encontrar los próximos eventos, festivales y actividades que se llevarán a cabo en Sincelejo.</p>

    <!-- Aquí puedes agregar una lista o detalles de los eventos -->
    <ul>
      <li><strong>Aqui ponemos un evento</strong>: Del 10 al 14 de enero, celebra la música y danza tradicional.</li>
      <li><strong>Aqui ponemos un evento</strong>: En el mes de abril, un evento lleno de cultura, comida y diversión.</li>
      <li><strong>Aqui ponemos un evento</strong>: El  vivo.</li>
    </ul>
  </div>

  {% endblock %}   