{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<!-- Carrusel que abarca toda la página -->
<div id="myCarousel" class="carousel slide mt-0" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-item active">
        <img src="{{ url_for('static', filename='img/img1.jpg') }}" class="d-block w-100" alt="Imagen 1">
        <div class="overlay"></div>
        <div class="carousel-caption">
            <h1 class="display-3">Dreamy Escapes + Cartagena</h1>
            <p>"Vive la magia de la ciudad amurallada, donde cada rincón cuenta una historia inolvidable."</p>
            <!-- Botón enlazado a la página 'tours.html' -->
            <a class="btn btn-sm btn-warning" href="{{ url_for('tours') }}">Ir a Tours</a>
        </div>
    </div>
        <div class="carousel-item">
        <img src="{{ url_for ('static',filename = 'img/img2.jpg') }}" class="d-block w-100" alt="Imagen 1">
        <div class="overlay"></div>
        <div class="container">
            <div class="carousel-caption text-end">
                <h1 class="display-3">Playa Relax</h1>
                <p>"Sumérgete en las aguas cristalinas de las Islas del Rosario y disfruta del lujo que solo Dreamy Escapes puede ofrecerte."</p>
                <!-- Botón enlazado a la página 'destino.html' -->
            <a class="btn btn-sm btn-warning" href="{{ url_for('destino') }}">Ir a destinos</a>
                
            </div>
        </div>
    </div>
        <div class="carousel-item">
        <img src="{{ url_for ('static', filename='img/img4.jpg') }}" class="d-block w-100" alt="Imagen 1">
        <div class="overlay"></div>
        <div class="container">
            <div class="carousel-caption text-end">
                <h1 class="display-3">Gastronomía y Cultura</h1>
                <p>"Saborea los sabores únicos del Caribe colombiano. Te llevamos a los mejores rincones gastronómicos y culturales."</p>
                <!-- Botón enlazado a la página 'restaurantes.html' -->
                <p><a class="btn btn-sm btn-warning" href="{{ url_for('restaurantes') }}">Ir a Restaurantes</a></p>
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <img src="{{ url_for('static', filename='img/img6.jpg') }}" class="d-block w-100" alt="Imagen 6">
        <div class="overlay"></div>
        <div class="container">
            <div class="carousel-caption text-end">
                <h1 class="display-3">La Mejor Rumba</h1>
                <p>"Tu próxima aventura comienza aquí. Reserva con Dreamy Escapes Cartagena y vive momentos inolvidables."</p>
                <!-- Botón enlazado a la página 'bardisco.html' -->
                <a class="btn btn-sm btn-warning" href="{{ url_for('bardisco') }}">Ir a BarDisco</a>
            </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <section style="display: none;">
    <nav class="navbar navbar-expand-lg navbar-dark mb-1  nav col-12 col-md-auto mb-2 justify-content-center mb-md-" id="nav-med"> 
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Dreamy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="bottomMenu">
          <div class="navbar-nav pl-5">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Quienes Somos
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Mision</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Vision</a></li>
              </ul>
            </li>
           
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ayuda Turista
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Preguntas Frecuentes</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Consejos Financieros</a></li>
              </ul>
            </li>
            <a class="nav-link" href="#">ETeams</a>
          </div>
        </div>
      </div>
    </nav>
</section> 

<!-- Sección de tarjetas -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card custom-index">
                <img src="{{ url_for('static', filename='img/mompox-tr.png') }}" class="card-img-top" alt="Imagen 1">
                <div class="card-body">
                    <h5 class="card-title">¿Qué Hacer fuera de Cartagena?</h5>
                    <h6 class="card-subtitle  text-muted">Santa Cruz de Mompox, Bolívar</h6>
                    <p class="card-text">Descubre los templos históricos de Mompox, como la Iglesia de San Francisco y la Casa de los Apóstoles, y explora sus talleres de filigrana. En octubre, disfruta del Festival de Jazz, que celebra la música, la cultura y la gastronomía local.</p>
                    <button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        Ver más
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card custom-index">
                <img src="{{ url_for('static', filename='img/cienaga-tr.png') }}" class="card-img-top" alt="Imagen 2">
                <div class="card-body">
                    <h5 class="card-title">Biodiversidad y Naturaleza</h5>
                    <h6 class="card-subtitle text-muted">La Ciénaga de Zapatos</h6>
                    <p class="card-text">
                        Ubicada en el corazón del Magdalena, esta ciénaga es un paraíso para los amantes de la naturaleza. Ideal para avistamiento de aves, disfrutar de un ecosistema único y realizar paseos en lancha por sus aguas tranquilas.
                    </p>
                    <button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        Ver más
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card custom-index">
                <img src="{{ url_for('static', filename='img/corales-tr.png') }}" class="card-img-top" alt="Imagen 3">
                <div class="card-body">
                    <h5 class="card-title">Aventura Acuática</h5>
                    <h6 class="card-subtitle text-muted">Islas del Rosario</h6>
                    <p class="card-text">
                        Un conjunto de islas ideales para el buceo, el esnórquel y otras actividades acuáticas. Vive la experiencia única de nadar entre los corales más impresionantes del Caribe colombiano.
                    </p>
                    <button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        Ver más
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
