{% extends 'base.html' %}

{% block content %}
            <h1>Ingreso a usuarios</h1>

            <form class="row g-3" id="formulario" action="/login" method="post">
                <div class="col-12">
                    <label for="login" class="form-label">Usuario registrado:</label>
                    <input type="text" class="form-control" id="login" name="login" required minlength="4">
                </div>
                <div class="col-12">
                    <label for="password" class="form-label">Contraseña:</label>
                    <input type="password" class="form-control" id="password" name="password" required minlength="6">
                </div>
                <div class="col-12">
                    <input type="submit" id="enviar" class="btn btn-primary mb-4" name="enviar" value="Enviar">
                </div>
            </form>


            <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
                <form class="border p-4 rounded shadow" style="width: 300px;">
                    <h2 class="text-center">Iniciar Sesión</h2>
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Entrar</button>
                </form>
            </div>

{% endblock %}