{% extends 'base.html' %}

{% block content %}
            <div class="container d-flex justify-content-center align-items-center" style="height: 70vh;">
                <form class="border p-4 rounded shadow" style="width: 400px;" id="formulario" action="/login" method="post">
                    <h2 class="text-center">Iniciar Sesión</h2>
                    <div class="form-group">
                        <label for="login" class="form-label">Usuario registrado:</label>
                        <input type="text" class="form-control" id="login" name="login" required minlength="4">
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Contraseña:</label>
                    <input type="password" class="form-control" id="password" name="password" required minlength="6">
                    </div>
                    <div class="col-12" style="padding-top: 1rem;">
                    <input type="submit" id="enviar" class="btn btn-primary mb-4" name="enviar" value="Enviar">
                    </div>
                </form>

            </div>

        

{% endblock %}