{% extends 'base.html' %}

{% block content %}
  <div class="container my-5">
    <h1>Mapa de Cartagena</h1>
    <p>Si tienes alguna pregunta o deseas más información, no dudes en ponerte en contacto con nosotros.</p>

    <!-- Contenedor del mapa -->
    <div id="map" style="height: 400px; width: 100%;"></div>
  </div>

  <!-- Agregar el script de Leaflet y el enlace a OpenStreetMap -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

  <script>
    // Crear el mapa y centrarlo en las coordenadas de Cartagena
    var map = L.map('map').setView([10.3910, -75.4790], 12);  // Coordenadas de Cartagena

    // Agregar la capa de OpenStreetMap
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Colocar un marcador en la ubicación de Cartagena
    L.marker([10.3910, -75.4790]).addTo(map)
      .bindPopup('¡Estamos en Cartagena!')
      .openPopup();
  </script>

<div class="map-container">
  <div class="map-wrapper">
      <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125637.39259462213!2d-75.57767119549657!3d10.400474783887733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef625e7ae9d1351%3A0x62d5f4891b99cc23!2sCartagena%2C%20Provincia%20de%20Cartagena%2C%20Bol%C3%ADvar!5e0!3m2!1ses!2sco!4v1701223512360!5m2!1ses!2sco"
          width="100%"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
      </iframe>
  </div>
</div>
{% endblock %}