
{% extends 'base.html' %}

{% block content %}

<div class="container-fluid page-header-teams">
    <div class="container">
      <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
          <h3 class="display-4 text-white text-uppercase" >{{ titulo }}</h3>
          <div class="d-inline-flex text-white">
              <!-- <p class="m-0 text-uppercase" ><a class="text-white" href="">Home</a></p>
              <i class="fa fa-angle-double-right pt-1 px-3"></i>
              <p class="m-0 text-uppercase" >Services</p> -->
          </div>
      </div>
    </div>
</div>


  <div class="container my-5">
    <h1>Teams de Trabajo Talento Tech</h1>
    <p>En Dreamy Escape + Cartagena , creemos que el verdadero corazón de nuestra innovación reside en nuestro excepcional equipo de programadores. Con una combinación única de creatividad y habilidades técnicas, nuestro equipo trabaja incansablemente para transformar ideas en soluciones digitales efectivas.</p>
    <div class="container mt-5">
        <div class="card-group">
            <div class="card text-center custom-teams">   
                <div class="card-header mt-2">
                <img src="{{ url_for ('static',filename = 'img/foto2.png') }}" class="card-img-top rounded-circle mx-auto" alt="Foto de perfil">  
                </div>
                <div class="card-body">
                    <h5 class="card-title" >Yurani A.Gomez</h5>
                    <p class="card-text">Biografía breve del usuario. Aquí puedes incluir información sobre sus intereses o actividades.</p>
                    <div class="social-icons">
                        <a href="#" class=""><i class="bi bi-facebook fs-0"></i></a>
                        <a href="#" class=""><i class="bi bi-twitter fs-0"></i> </a>
                        <a href="#" class=""><i class="bi bi-instagram fs-0"></i></a>
                    <a href="#" class=""><i class="bi bi-whatsapp fs-0 "></i> </a>
                    </div>
                </div>
            </div>
            <div class="card text-center custom-teams">   
                <div class="card-header mt-2">
                <img src="{{ url_for ('static',filename = 'img/foto1.png') }}" class="card-img-top rounded-circle mx-auto" alt="Foto de perfil">  
                </div>
                <div class="card-body">
                    <h5 class="card-title" >Thalina Carvajal</h5>
                    <p class="card-text">Biografía breve del usuario. Aquí puedes incluir información sobre sus intereses o actividades.</p>
                    <div class="social-icons">
                        <a href="#" class=""><i class="bi bi-facebook fs-0"></i></a>
                        <a href="#" class=""><i class="bi bi-twitter fs-0"></i> </a>
                        <a href="#" class=""><i class="bi bi-instagram fs-0"></i></a>
                    <a href="#" class=""><i class="bi bi-whatsapp fs-0 "></i> </a>
                    </div>
                </div>
            </div>

            <div class="card text-center custom-teams">   
                <div class="card-header mt-2">
                <img src="{{ url_for ('static',filename = 'img/foto4.png') }}" class="card-img-top rounded-circle mx-auto" alt="Foto de perfil">  
                </div>
                <div class="card-body">
                    <h5 class="card-title" >Karol </h5>
                    <p class="card-text">Biografía breve del usuario. Aquí puedes incluir información sobre sus intereses o actividades.</p>
                    <div class="social-icons">
                        <a href="#" class=""><i class="bi bi-facebook fs-0"></i></a>
                        <a href="#" class=""><i class="bi bi-twitter fs-0"></i> </a>
                        <a href="#" class=""><i class="bi bi-instagram fs-0"></i></a>
                    <a href="#" class=""><i class="bi bi-whatsapp fs-0 "></i> </a>
                    </div>
                </div>
            </div>

            <div class="card text-center custom-teams">   
                <div class="card-header mt-2">
                <img src="{{ url_for ('static',filename = 'img/foto3.png') }}" class="card-img-top rounded-circle mx-auto" alt="Foto de perfil">  
                </div>
                <div class="card-body">
                    <h5 class="card-title" >Jhon H. Rojo</h5>
                    <p class="card-text">Biografía breve del usuario. Aquí puedes incluir información sobre sus intereses o actividades.</p>
                    <div class="social-icons">
                        <a href="#" class=""><i class="bi bi-facebook fs-0"></i></a>
                        <a href="#" class=""><i class="bi bi-twitter fs-0"></i> </a>
                        <a href="#" class=""><i class="bi bi-instagram fs-0"></i></a>
                    <a href="#" class=""><i class="bi bi-whatsapp fs-0 "></i> </a>
                    </div>
                </div>
            </div>

            <div class="card text-center custom-teams">   
                <div class="card-header mt-2">
                <img src="{{ url_for ('static',filename = 'img/teams-1.jpg') }}" class="card-img-top rounded-circle mx-auto" alt="Foto de perfil">  
                </div>
                <div class="card-body">
                    <h5 class="card-title" >Jhon H. Rojo</h5>
                    <p class="card-text">Biografía breve del usuario. Aquí puedes incluir información sobre sus intereses o actividades.</p>
                    <div class="social-icons">
                        <a href="#" class=""><i class="bi bi-facebook fs-0"></i></a>
                        <a href="#" class=""><i class="bi bi-twitter fs-0"></i> </a>
                        <a href="#" class=""><i class="bi bi-instagram fs-0"></i></a>
                    <a href="#" class=""><i class="bi bi-whatsapp fs-0 "></i> </a>
                    </div>
                </div>
            </div>
            

    




        
    </div>
    

  </div>


  <!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
  {% endblock %}   
