{% extends 'base.html' %}

{% block content %}
<div class="container-fluid page-header-transportes">
  <div class="container ">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
      <h3 class="display-4 text-white text-uppercase" >{{ titulo }}</h3>
      <div class="d-inline-flex text-white">
          <!-- <p class="m-0 text-uppercase" ><a class="text-white" href="">Home</a></p>
          <i class="fa fa-angle-double-right pt-1 px-3"></i>
          <p class="m-0 text-uppercase" >Services</p> -->
      </div>
  </div>
  </div>
</div>

  <div class="container my-5">
    <h1> Transportes</h1>
    <p><h2>Estamos en contruccion ten paciencia</h2></p>
    <p>Si tienes alguna pregunta o deseas más información, no dudes en ponerte en contacto con nosotros.</p>
    
  
  </div>
 {% endblock %}
